@import '../scss/variables.scss';
.gallery{
    display: flex;
    flex-wrap: wrap;
    .gallery_photo{
        // супер сработало
        width: 25%;
        overflow: hidden;
        border: 1px solid white;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        .gallery_photo_text{
            position: relative;
            z-index: 999;
            text-align: center;
            color: rgba(255, 255, 255,0);
            h3{
                text-transform: uppercase;
                margin: 110px auto 20px;
            }
            .gallery_photo_paragraph{
                margin-bottom: 128px;
            }
            transition: 0.2s;
        }
        position: relative;
    }

    .gallery_photo:hover{
        .gallery_photo_text{
            color: rgba(255, 255, 255,1);
        }
    }

    .gallery_photo::before{
        visibility: hidden;
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        transition: 0.2s;
        z-index: 1;
    }

    .gallery_photo:hover::before{
        visibility: visible;
        background: rgba(255, 67, 67,0.2);
    }

    .gallery_photo::before{
        visibility: hidden;
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        transition: 0.2s;
        z-index: 1;
    }

    .gallery_photo:active::before{
        visibility: visible;
        background: rgba(231, 20, 20,0.5);
    }

    .picture1{
        background-image: url("../img/gallery_image 1.jpg");
    }
    .picture2{
        background-image: url("../img/gallery_image 2.jpg");
    }
    .picture3{
        background-image: url("../img/gallery_image 3.jpg");
    }
    .picture4{
        background-image: url("../img/gallery_image 4.jpg");
    }
    .picture5{
        background-image: url("../img/gallery_image 5.jpg");
    }
    .picture6{
        background-image: url("../img/gallery_image 6.jpg");
    }
    .picture7{
        background-image: url("../img/gallery_image 7.jpg");
    }
    .picture8{
        background-image: url("../img/gallery_image 8.jpg");
    }

    @media (max-width:1024px) {
        .gallery_photo{
            width: 33%;
        }
        .gallery_photo:nth-child(4n){
            display: none;
        }
    }
}
@media (max-width:320px) {
    .gallery{
        .gallery_photo{
            width: 50%;
            max-height: 144px;
            .gallery_photo_text{
                margin-top: 40px;
                align-self: center;
                h3{
                    margin: auto;
                    font-size: 18px;
                    text-transform: uppercase;
                }
                .gallery_photo_paragraph{
                    font-size: 14px;
                }
            }
        }
    }
}
// сделать image бэкграундом для красной штуки с h3 и p